*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    background-color: #001928;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    height: 15%;
}

main {
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    height: 15%;
}
